<section class="projetos">
	<h1><%= image_tag "deminapramina-cut.png" %></h1>
	<p>Plataforma para você cadastrar e encontrar os projetos que sempre quis fazer. Tudo feito por minas e para minas!
    Conhece algum lega? Conta pra gente :D</p>
	<% @projetos.each do |projeto|%>
		<div class="item">
			<h2><%= projeto.nome %></h2>
			<img src="<%= projeto.foto %>">
			<%= link_to "Saiba mais", projeto_path(projeto.id) %>
		</div>
	<% end %>
</section>
