@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
}

.projetos, .detalhes {
	width: 90%;
	max-width: 990px;
	margin: 0 auto;
}

.item {
	width:30%;
	float: left;
	margin: 0 1%;
}

.item img, .detalhes img {
	width:100%;
}

.item a {
	background-color: red;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
}

h1 {
    color: crimson; font-size: 3em; font-family: "calibri"; margin-left: 1em;
}

.label {
    color: black; font-family: "calibri";
}
